
<header class="site-header">
    <div class="container">
        <h1 class="logo">
            <a href="{{ path('homepage') }}">MyFakeCompany</a>
        </h1>
        <nav class="main-nav">
            <ul>
                <li><a href="{{ path('about_us') }}">About Us</a></li>
                <li><a href="{{ path('services') }}">Services</a></li>
                <li><a href="{{ path('contact') }}">Contact</a></li>
                <li><a href="{{ path('app_login') }}">Login</a></li>
            </ul>
        </nav>
    </div>
</header>
{% include 'partial/_header.html.twig' %}