{% extends 'base.html.twig' %} 

 

{% block body %} 

<div class="container mt-5"> 
    <div class="row row-cols-1 row-cols-md-3 g-4"> 

        {% for service in services %} 

            <div class="col"> 

                <div class="card h-100 text-center"> 

                    <img src="{{ asset('images/' ~ service.image) }}" class="card-img-top img-fluid p-4" style="max-height: 200px; object-fit: contain;" alt="{{ service.title }}"> 

                    <div class="card-body"> 

                        <h5 class="card-title">{{ service.title }}</h5> 

 

                        <div class="collapse" id="desc-{{ loop.index }}"> 

                            <p class="card-text">{{ service.description }}</p> 

                        </div> 

 

                        <a class="btn btn-outline-primary mt-2" data-bs-toggle="collapse" href="#desc-{{ loop.index }}" role="button" aria-expanded="false" aria-controls="desc-{{ loop.index }}"> 

                            Voir les détails 

                        </a> 

                    </div> 

                </div> 

            </div> 

        {% endfor %} 

    </div> 

</div> 

{% endblock %} 