{% extends 'base.html.twig' %}

{% block title %}Devis
{% endblock %}

{% block body %}
<body class="image-adn">
	<div class="container mt-4">
		<h2>Demande de Devis</h2>

		{# Pour afficher une confirmation d'envoie de formulaire #}
		{# {% for message in app.flashes('success') %}
					<div class="alert alert-success">
						{{ message }}
					</div>
				{% endfor %} #}


		<div class="row">
			<p>Afin de vous établir une proposition précise,merci de remplir le formulaire ci-dessous</p>
			<div class="col-md-6 mx-auto">

				<h3>Vos coordonnées</h3>
				{{ form_start(form) }}
				<div class="mb-2">
					{{ form_row(form.lastName) }}
				</div>
				<div class="mb-2">
					{{ form_row(form.firstName) }}</div>

				<div class="mb-2">
					{{ form_row(form.email) }}
				</div>
				<div class="mb-2">
					{{ form_row(form.phone) }}
				</div>
				{# <div class="mb-2"> #}
				{# {{ form_row(form.option) }} #}
				{# </div> #}


					<div class="container mt-4"> 
                        <h3>Quel est votre projet :</h3>
                        <div class="container mt-4">
						    <h5>Choix des options :</h5>

						<!-- Checkbox 1 -->
						<div class="mb-3">
							<div class="form-check">
								<input class="form-check-input" type="checkbox" id="check1" data-bs-toggle="collapse" data-bs-target="#text1" aria-expanded="false" aria-controls="text1">
								<label class="form-check-label" for="check1">
									Création de site vitrine
								</label>
							</div>

							<div class="collapse mt-2" id="text1">
								<p class="ms-4">Voici le contenu du texte 1, juste en dessous de la checkbox 1.</p>
							</div>
						</div>

						<!-- Checkbox 2 -->
						<div class="mb-3">
							<div class="form-check">
								<input class="form-check-input" type="checkbox" id="check2" data-bs-toggle="collapse" data-bs-target="#text2" aria-expanded="false" aria-controls="text2">
								<label class="form-check-label" for="check2">
									Création de site e-commerce
								</label>
							</div>

							<div class="collapse mt-2" id="text2">
								<p class="ms-4">Voici le contenu du texte 2, juste en dessous de la checkbox 2.</p>
							</div>
						</div>

						<!-- Checkbox 3 -->
						<div class="mb-3">
							<div class="form-check">
								<input class="form-check-input" type="checkbox" id="check3" data-bs-toggle="collapse" data-bs-target="#text3" aria-expanded="false" aria-controls="text3">
								<label class="form-check-label" for="check">
									Création d'application web/mobile
								</label>
							</div>

							<div class="collapse mt-2" id="text3">
								<p class="ms-4">Voici le contenu du texte 2, juste en dessous de la checkbox 2.</p>
							</div>
						</div>
						<!-- Checkbox 4 -->
						<div class="mb-3">
							<div class="form-check">
								<input class="form-check-input" type="checkbox" id="check4" data-bs-toggle="collapse" data-bs-target="#text4" aria-expanded="false" aria-controls="text4">
								<label class="form-check-label" for="check4">
									Web design
								</label>
							</div>

							<div class="collapse mt-2" id="text4">
								<p class="ms-4">Voici le contenu du texte 2, juste en dessous de la checkbox 2.</p>
							</div>
						</div>

						<!-- Checkbox 5 -->
						<div class="mb-3">
							<div class="form-check">
								<input class="form-check-input" type="checkbox" id="check5" data-bs-toggle="collapse" data-bs-target="#text5" aria-expanded="false" aria-controls="text5">
								<label class="form-check-label" for="check5">
									SEO(Référencement naturel)
								</label>
							</div>

							<div class="collapse mt-2" id="text5">
								<p class="ms-4">Voici le contenu du texte 2, juste en dessous de la checkbox 2.</p>
							</div>
						</div>

						<!-- Checkbox 6-->
						<div class="mb-3">
							<div class="form-check">
								<input class="form-check-input" type="checkbox" id="check6" data-bs-toggle="collapse" data-bs-target="#text6" aria-expanded="false" aria-controls="text6">
								<label class="form-check-label" for="check6">
									Formation
								</label>
							</div>

							<div class="collapse mt-2" id="text6">
								<p class="ms-4">Voici le contenu du texte 2, juste en dessous de la checkbox 2.</p>
							</div>
						</div>

						<!-- Checkbox 7 -->
						<div class="mb-3">
							<div class="form-check">
								<input class="form-check-input" type="checkbox" id="check7" data-bs-toggle="collapse" data-bs-target="#text7" aria-expanded="false" aria-controls="text7">
								<label class="form-check-label" for="check7">
									Conseil
								</label>
							</div>

							<div class="collapse mt-2" id="text7">
								<p class="ms-4">Voici le contenu du texte 2, juste en dessous de la checkbox 2.</p>
							</div>
						</div>
					</div>


				</div>


				<div class="mb-2">
					<button class="btn btn-primary" type="submit">Soumettre</button>
				</div>


				{{ form_end(form) }}
			</div>
		</div>
	</div>

</body>
</div>{% endblock %}
